{% extends 'baseFront.html.twig' %}

{% block title %}Etudiant index{% endblock %}

{% block body %}

    <!-- Course Section Start -->
    <div class="courses-section section-padding-02">
        <div class="container">

            <!-- Section Title Start -->
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="section-title__title">Les <mark>Meilleures</mark> Formations </h2>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1">

                    <div class="row g-6">
                        {% for formation in formations %}
                        <div class="col-lg-3 col-md-4 col-sm-6">

                            <!-- Course Start -->
                            <div class="course-item" data-aos="fade-up" data-aos-duration="1000">
                                <div class="course-header">
                                    <div class="course-header__thumbnail ">
                                        <a href="course-single-layout-01.html"><img src="{{ vich_uploader_asset(formation, 'imageFile') }}" style="width: 330px;height: 221px" alt="courses" width="330" height="221"></a>
                                    </div>
                                </div>
                                <div class="course-info">
                                    <div class="row">
                                        <div class="col"><span class="course-info__badge-text badge-all">Pour Tout les Niveau</span></div>
                                        <div class="col"> <span class="course-info__badge-text badge-border">Durer:{{ formation.description }}</span></div>

                                    </div>
                                    <h3 class="course-info__title-02"><a href="#">{{ formation.description }}</a></h3>
                                    <a href="#" class="course-info__instructor">{{ formation.nom }}</a>
                                    <div class="course-info__price">
                                        <span class="sale-price">200 000 <small class="separator">CFA</small></span>
                                    </div>
                                    <div class="course-info__rating">

                                        <div class="rating-star">
                                            <div class="rating-label" style="width: 80%;"></div>
                                        </div>

                                        <span>(2)</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Course End -->

                        </div>
                        {% else %}
                            <h1>Aucune Formation disponible</h1>
                        {% endfor %}
                    </div>

                </div>

            </div>

        </div>
    </div>
    <!-- Course Section End -->

    <!-- Call To Action Start -->
    <div class="call-to-action section-padding-01">
        <div class="container">

            <!-- Call To Action Wrapper Start -->
            <div class="call-to-action__wrapper">

                <!-- Call To Action Icon Start -->
                <div class="call-to-action__icon" data-aos="zoom-in" data-aos-duration="1000">
                    <i class="fas fa-bolt"></i>
                </div>
                <!-- Call To Action Icon End -->

                <!-- Call To Action Content Start -->
                <div class="call-to-action__content">

                    <div class="call-to-action__shape-01"></div>
                    <div class="call-to-action__shape-02"></div>
                    <div class="call-to-action__shape-03"></div>

                    <div class="call-to-action__caption">
                        <h3 class="call-to-action__sub-title">Let Us Help</h3>
                        <h3 class="call-to-action__main-title">Finding Your Right Courses</h3>
                    </div>
                    <div class="call-to-action__btn">
                        <a class="btn btn-secondary btn-hover-primary" href="course-category.html">Get started</a>
                    </div>

                </div>
                <!-- Call To Action Content End -->

            </div>
            <!-- Call To Action Wrapper End -->

        </div>
    </div>
    <!-- Call To Action End -->

    <!-- Counter Start -->
    <div class="counter-section bg-color-02">
        <div class="container">

            <div class="row gy-10 align-items-center">
                <div class="col-xl-3 col-lg-4">

                    <!-- Section Title Start -->
                    <div class="section-title mb-0" data-aos="fade-up" data-aos-duration="1000">
                        <h4 class="section-title__sub-title">Nos Chiffres</h4>
                        <h2 class="section-title__title-02">Accomplissez vos rêves avec <mark>PTR-Niger</mark></h2>
                    </div>
                    <!-- Section Title End -->

                </div>
                <div class="col-xl-9">

                    <div class="row ps-xl-10">
                        <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000">

                            <!-- Counter Item Start -->
                            <div class="counter-item">
                                <div class="counter-item__icon">
                                    <img src="assets/images/icon/counter-media-01.png" alt="Icon" width="42" height="48">
                                </div>
                                <div class="counter-item__content">
                                    <span class="counter-item__count">+3,000</span>
                                    <p class="counter-item__text">Personnes Encadrées</p>
                                </div>
                            </div>
                            <!-- Counter Item End -->

                        </div>
                        <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000">

                            <!-- Counter Item Start -->
                            <div class="counter-item">
                                <div class="counter-item__icon">
                                    <img src="assets/images/icon/counter-media-02.png" alt="Icon" width="39" height="48">
                                </div>
                                <div class="counter-item__content">
                                    <span class="counter-item__count">+25,0</span>
                                    <p class="counter-item__text">Promotions Certifiées</p>
                                </div>
                            </div>
                            <!-- Counter Item End -->

                        </div>
                        <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000">

                            <!-- Counter Item Start -->
                            <div class="counter-item">
                                <div class="counter-item__icon">
                                    <img src="assets/images/icon/counter-media-03.png" alt="Icon" width="48" height="48">
                                </div>
                                <div class="counter-item__content">
                                    <span class="counter-item__count">100%</span>
                                    <p class="counter-item__text">Pratiques et Professionnelles</p>
                                </div>
                            </div>
                            <!-- Counter Item End -->

                        </div>
                        <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000">

                            <!-- Counter Item Start -->
                            <div class="counter-item">
                                <div class="counter-item__icon">
                                    <img src="assets/images/icon/counter-media-04.png" alt="Icon" width="48" height="48">
                                </div>
                                <div class="counter-item__content">
                                    <span class="counter-item__count">100,00</span>
                                    <p class="counter-item__text">Formateurs de très haut niveau</p>
                                </div>
                            </div>
                            <!-- Counter Item End -->

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Counter End -->

    <!-- Event Start -->
    <div class="event-section section-padding-01">
        <div class="container">
            <div class="row gy-10 align-items-center">
                <div class="col-xl-3 col-lg-5 col-md-6 col-sm-7">

                    <!-- Section Title Start -->
                    <div class="section-title mb-0 pe-lg-8" data-aos="fade-up" data-aos-duration="1000">
                        <h4 class="section-title__sub-title">EVENTS</h4>
                        <h2 class="section-title__title-02">Les grands <br> <mark>Evènements</mark></h2>
                        <p>Nous ne laissons pas les grnades occasons passer inaperçues !</p>
                    </div>
                    <!-- Section Title End -->

                    <div class="section-btn" data-aos="fade-up" data-aos-duration="1000">
                        <a href="https://www.facebook.com/PTRNiger" class="btn btn-light btn-hover-primary">Voir plus</a>
                    </div>

                </div>

                <div class="col-xl-9">
                    <!-- Event Active Start -->
                    <div class="event-active swiper-button-style" data-aos="fade-up" data-aos-duration="1000">
                        <div class="swiper">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <!-- Event Item Start -->
                                    <div class="event-item">
                                        <div class="event-item__image">
                                            <a href="#"><img src="assets/images/event/happy-cute-brunette-caucasian-grad-girl-sourit-camarades-classe-floue-sont-derriere.jpg" alt="event" width="330" height="186"></a>
                                        </div>
                                        <div class="event-item__content text-center">
                                            <span class="event-item__date">20 Avril, 2023</span>
                                            <h3 class="event-item__title"><a href="https://web.facebook.com/PTRNiger/posts/pfbid03CiSnmoKWK8yB4GtHPRm4QhnTrQoofcqPxGHtJDfXxqm4e573MZ3tsKYacionTjvl">Graduation S08 & Rupture Collective</a></h3>
                                            <p class="event-item__location"><i class="far fa-map-marker-alt"></i> PTR-Niger</p>
                                        </div>
                                    </div>
                                    <!-- Event Item End -->
                                </div>

                                <div class="swiper-slide">
                                    <!-- Event Item Start -->
                                    <div class="event-item">
                                        <div class="event-item__image">
                                            <a href="#"><img src="assets/images/event/dusit-thani-abu-dhabi1.jpg" alt="event" width="330" height="186"></a>
                                        </div>
                                        <div class="event-item__content text-center">
                                            <span class="event-item__date">12 Janvier, 2023</span>
                                            <h3 class="event-item__title"><a href="https://web.facebook.com/successschoolofficiel/posts/pfbid0s11jrG78Kzmj9rf2UD7P6Ayq2fmvn8Qr1y2XKJXRP1iXHVpjZLu6gYYqPL6j18Url">Success School Business Travel</a></h3>
                                            <p class="event-item__location"><i class="far fa-map-marker-alt"></i> Dusit Thani ABU Dhabi</p>
                                        </div>
                                    </div>
                                    <!-- Event Item End -->
                                </div>

                                <div class="swiper-slide">
                                    <!-- Event Item Start -->
                                    <div class="event-item">
                                        <div class="event-item__image">
                                            <a href="#"><img src="assets/images/event/PDM Kinokuniya.jpg" alt="event" width="330" height="186"></a>
                                        </div>
                                        <div class="event-item__content text-center">
                                            <span class="event-item__date">11 Janvier, 2022</span>
                                            <h3 class="event-item__title"><a href="https://web.facebook.com/successschoolofficiel/posts/pfbid032w6Y7M5DtNbC7Zryg4jgJzJhAc6ENZS3eBngQxuWkskJ2vXbqhP8jU1U8ta3kPpNl">Visite d'une des plus grandes chaîne de Librairie au Monde</a></h3>
                                            <p class="event-item__location"><i class="far fa-map-marker-alt"></i> UAE Kinokuniya Bookstore</p>
                                        </div>
                                    </div>
                                    <!-- Event Item End -->
                                </div>

                                <div class="swiper-slide">
                                    <!-- Event Item Start -->
                                    <div class="event-item">
                                        <div class="event-item__image">
                                            <a href="#"><img src="assets/images/event/vue-arriere-audience-ecoute-intervenants-scene-dans-salle-conference-seminaire.jpg" alt="event" width="330" height="186"></a>
                                        </div>
                                        <div class="event-item__content text-center">
                                            <span class="event-item__date">28 Juillet, 2022</span>
                                            <h3 class="event-item__title"><a href="https://web.facebook.com/successschoolofficiel/posts/pfbid034EZTdPbVPWPahX5Ei1ZbQY51XWHK7qnyaEWUz1aUoUokQoJ7DEd4e3fTpguf7V3Jl">Conférence Millionnaires Codes SUMIT</a></h3>
                                            <p class="event-item__location"><i class="far fa-map-marker-alt"></i> Bravia Hôtel of Niamey</p>
                                        </div>
                                    </div>
                                    <!-- Event Item End -->
                                </div>

                                <div class="swiper-slide">
                                    <!-- Event Item Start -->
                                    <div class="event-item">
                                        <div class="event-item__image">
                                            <a href="#"><img src="assets/images/event/SW4.jpg" alt="event" width="330" height="186"></a>
                                        </div>
                                        <div class="event-item__content text-center">
                                            <span class="event-item__date">28 Janvier, 2023</span>
                                            <h3 class="event-item__title"><a href="https://web.facebook.com/successschoolofficiel/posts/pfbid02tMkdPANUFTiC87L1i254r9Y42FWjZYi6zt56qVhR1KSbCXADYmDmsAVohqfbCXMyl">Week-end de la Réussite 4</a></h3>
                                            <p class="event-item__location"><i class="far fa-map-marker-alt"></i> Mahatma Ghandi Conference Center of Niamey</p>
                                        </div>
                                    </div>
                                    <!-- Event Item End -->
                                </div>

                                <div class="swiper-slide">
                                    <!-- Event Item Start -->
                                    <div class="event-item">
                                        <div class="event-item__image">
                                            <a href="#"><img src="assets/images/event/PDM and Mentor Dosso.jpg" alt="event" width="330" height="186"></a>
                                        </div>
                                        <div class="event-item__content text-center">
                                            <span class="event-item__date">6 Mai, 2023</span>
                                            <h3 class="event-item__title"><a href="https://www.facebook.com/MoubarakPDM/posts/pfbid02JYzeWTrpJZYiyUd1nSg4FGnbquoaVPeknju7UJQx4VNy7BriNyHw85KKbwABpVTpl">Business Conférence</a></h3>
                                            <p class="event-item__location"><i class="far fa-map-marker-alt"></i> Université de Dosso </p>
                                        </div>
                                    </div>
                                    <!-- Event Item End -->
                                </div>

                                <div class="swiper-slide">
                                    <!-- Event Item Start -->
                                    <div class="event-item">
                                        <div class="event-item__image">
                                            <a href="#"><img src="assets/images/event/Graduation PTR-Niger.jpg" alt="event" width="330" height="186"></a>
                                        </div>
                                        <div class="event-item__content text-center">
                                            <span class="event-item__date">Octobre, 2021</span>
                                            <h3 class="event-item__title"><a href="https://www.facebook.com/permalink.php?story_fbid=pfbid02Urp1R6vE3E1te8abuHb6MtLH9o3GTWzskW8J3h9NiMSWd7HFPPiVMWcvEjsCRSDnl&id=100006357547049">Graduation Informatique Bureautique</a></h3>
                                            <p class="event-item__location"><i class="far fa-map-marker-alt"></i> Namey - Niger</p>
                                        </div>
                                    </div>
                                    <!-- Event Item End -->
                                </div>

                                <div class="swiper-slide">
                                    <!-- Event Item Start -->
                                    <div class="event-item">
                                        <div class="event-item__image">
                                            <a href="#"><img src="assets/images/event/main-tenant-petit-globe-casquette-graduation-fond-exterieur-lumineux-ensoleille-mettant-valeur-possibilites-infinies-education-reussite.jpg" alt="event" width="330" height="186"></a>
                                        </div>
                                        <div class="event-item__content text-center">
                                            <span class="event-item__date">Mai, 2021</span>
                                            <h3 class="event-item__title"><a href="https://www.facebook.com/PTRNiger/posts/2916251085302704/">Certification & IFTAR</a></h3>
                                            <p class="event-item__location"><i class="far fa-map-marker-alt"></i> PTR-Niger</p>
                                        </div>
                                    </div>
                                    <!-- Event Item End -->
                                </div>

                            </div>
                        </div>

                        <div class="swiper-button-next"><i class="fal fa-angle-right"></i></div>
                        <div class="swiper-button-prev"><i class="fal fa-angle-left"></i></div>
                    </div>
                    <!-- Event Active End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Event End -->

    <!-- Testimonial Start -->
    <div class="testimonial-section bg-color-01 section-padding-01">
        <div class="container">

            <!-- Section Title Start -->
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                <h4 class="section-title__sub-title">TEMOIGNAGE</h4>
                <h2 class="section-title__title-02">Ce que nos étudiants disent de nos formations</h2>
            </div>
            <!-- Section Title End -->

            <!-- Testimonial Start -->
            <div class="testimonial-active-02" data-aos="fade-up" data-aos-duration="1000">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!-- Testimonial Item Start -->
                            <div class="testimonial-item-02">

                                <div class="testimonial-image">
                                    <img src="assets/images/avatar/Aish Pic.jpg" alt="Avatar" width="70" height="70">
                                </div>

                                <div class="testimonial-caption-02">
                                    <h3 class="testimonial-caption-02__title">Très Instructives !</h3>
                                    <p>Les programmes de PTR-Niger que j'ai suivis m'ont appris que les nouvelles techniques qui me simplifient la vie ! Merci énormément !</p>
                                </div>

                                <div class="testimonial-info-02__caption">
                                    <h5 class="testimonial-info-02__name">Aïchatou I. Oumarou</h5>
                                    <p class="testimonial-info-02__designation">/ Etudiante en Pharmacie, Entrepreneure </p>
                                </div>

                            </div>
                            <!-- Testimonial Item End -->
                        </div>
                        <div class="swiper-slide">
                            <!-- Testimonial Item Start -->
                            <div class="testimonial-item-02">

                                <div class="testimonial-image">
                                    <img src="assets/images/avatar/Jalil.jpg" alt="Avatar" width="70" height="70">
                                </div>

                                <div class="testimonial-caption-02">
                                    <h3 class="testimonial-caption-02__title"> La Perfection !</h3>
                                    <p>Le meilleur programme de formation qui n'a jamais existé ! 100% Pratique et orientée professionelle ! Merci...</p>
                                </div>

                                <div class="testimonial-info-02__caption">
                                    <h5 class="testimonial-info-02__name">Abdoul Jalil</h5>
                                    <p class="testimonial-info-02__designation">/ Lauréat, IB08</p>
                                </div>

                            </div>
                            <!-- Testimonial Item End -->
                        </div>
                        <div class="swiper-slide">
                            <!-- Testimonial Item Start -->
                            <div class="testimonial-item-02">

                                <div class="testimonial-image">
                                    <img src="assets/images/avatar/Yattara.jpg" alt="Avatar" width="70" height="70">
                                </div>

                                <div class="testimonial-caption-02">
                                    <h3 class="testimonial-caption-02__title">Super Intéressant !</h3>
                                    <p>L'informatique est incontournable, se faire former à PTR-Niger est indispensable ! Merci pour tout...</p>
                                </div>

                                <div class="testimonial-info-02__caption">
                                    <h5 class="testimonial-info-02__name">Nadia Yattara</h5>
                                    <p class="testimonial-info-02__designation">/ Gestionnaire, Comptable</p>
                                </div>

                            </div>
                            <!-- Testimonial Item End -->
                        </div>
                        <div class="swiper-slide">
                            <!-- Testimonial Item Start -->
                            <div class="testimonial-item-02">

                                <div class="testimonial-image">
                                    <img src="assets/images/avatar/Isak.jpg" alt="Avatar" width="70" height="70">
                                </div>

                                <div class="testimonial-caption-02">
                                    <h3 class="testimonial-caption-02__title"> Le Digital à ma portée </h3>
                                    <p>Pour apprendre seurieusement le métier du numérique, je vous récommande PTR-Niger, ils font l'affaire !</p>
                                </div>

                                <div class="testimonial-info-02__caption">
                                    <h5 class="testimonial-info-02__name">Oustaz Issaka</h5>
                                    <p class="testimonial-info-02__designation">/ Formateur Polytechnicien !</p>
                                </div>

                            </div>
                            <!-- Testimonial Item End -->
                        </div>
                        <div class="swiper-slide">
                            <!-- Testimonial Item Start -->
                            <div class="testimonial-item-02">

                                <div class="testimonial-image">
                                    <img src="assets/images/avatar/avatar-01.jpg" alt="Avatar" width="70" height="70">
                                </div>

                                <div class="testimonial-caption-02">
                                    <h3 class="testimonial-caption-02__title">Great quality!</h3>
                                    <p>I wanted to place a review since their support helped me within a day or so, which is nice! Thanks and 5 stars!</p>
                                </div>

                                <div class="testimonial-info-02__caption">
                                    <h5 class="testimonial-info-02__name">Oliver Beddows</h5>
                                    <p class="testimonial-info-02__designation">/ Designer, Manchester</p>
                                </div>

                            </div>
                            <!-- Testimonial Item End -->
                        </div>
                        <div class="swiper-slide">
                            <!-- Testimonial Item Start -->
                            <div class="testimonial-item-02">

                                <div class="testimonial-image">
                                    <img src="assets/images/avatar/avatar-02.jpg" alt="Avatar" width="70" height="70">
                                </div>

                                <div class="testimonial-caption-02">
                                    <h3 class="testimonial-caption-02__title">Code Quality</h3>
                                    <p>I wanted to place a review since their support helped me within a day or so, which is nice! Thanks and 5 stars!</p>
                                </div>

                                <div class="testimonial-info-02__caption">
                                    <h5 class="testimonial-info-02__name">Oliver Beddows</h5>
                                    <p class="testimonial-info-02__designation">/ Designer, Manchester</p>
                                </div>

                            </div>
                            <!-- Testimonial Item End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial End -->

        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Blog End -->
    <div class="blog section section-padding-01">
        <div class="container">
            <div class="row gy-10">
                <div class="col-xl-3">

                    <!-- Section Title Start -->
                    <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                        <h4 class="section-title__sub-title">Autres Projets</h4>
                        <h2 class="section-title__title-02">PTR-Niger <br> And <mark>Connexes</mark></h2>
                    </div>
                    <!-- Section Title End -->

                    <!-- list Blog Start -->
                    <div class="list-blog">
                        <ul class="list-blog__items" data-aos="fade-up" data-aos-duration="1000">
                            <li>
                                <h3 class="list-blog__title"><a href="https://www.facebook.com/profile.php?id=100093048846506">Sucsess Publishing</a></h3>
                            </li>
                            <li>
                                <h3 class="list-blog__title"><a href="https://www.facebook.com/profile.php?id=100092707390538">DIGIDEV ACADEMY</a></h3>
                            </li>
                            <li>
                                <h3 class="list-blog__title"><a href="https://www.facebook.com/MoubarakPDM/">Moubarak_PDM</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!-- list Blog End -->

                </div>
                <div class="col-xl-9">
                    <div class="row gy-6">
                        <div class="col-lg-4 col-md-6">
                            <!-- Blog Item Start -->
                            <div class="blog-item" data-aos="fade-up" data-aos-duration="1000">
                                <div class="blog-item__image">
                                    <a href="https://youtu.be/NPm-6T72LYs"><img src="assets/images/blog/PDM Youtube.png" alt="Blog" width="330" height="179"></a>
                                </div>
                                <div class="blog-item__content">
                                    <div class="blog-item__meta">
                                        <span class="meta-action"><i class="far fa-calendar"></i> Novembre, 2022</span>
                                        <span class="meta-action"><i class="far fa-eye"></i> 4,036 views</span>
                                    </div>
                                    <h3 class="blog-item__title"><a href="https://youtu.be/NPm-6T72LYs">Intro, Moubarak_PDM</a></h3>
                                    <p>Chaîne Youtube sur l'enseignement du succès</p>
                                    <a class="blog-item__more btn btn-light btn-hover-white" href="https://www.youtube.com/@moubarak_pdm">voir plus</a>
                                </div>
                            </div>
                            <!-- Blog Item End -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!-- Blog Item Start -->
                            <div class="blog-item" data-aos="fade-up" data-aos-duration="1000">
                                <div class="blog-item__image">
                                    <a href="https://youtu.be/2DeqZFugF7Y"><img src="assets/images/blog/Logo-Digidev-ACADEMY-05.jpg" alt="Blog" width="330" height="179"></a>
                                </div>
                                <div class="blog-item__content">
                                    <div class="blog-item__meta">
                                        <span class="meta-action"><i class="far fa-calendar"></i> Juillet, 2023</span>
                                        <span class="meta-action"><i class="far fa-eye"></i> 370 views</span>
                                    </div>
                                    <h3 class="blog-item__title"><a href="https://youtu.be/2DeqZFugF7Y">DIGIDEV ACADEMY</a></h3>
                                    <p>Enseignement sur les Domaines du Marketing Digital</p>
                                    <a class="blog-item__more btn btn-light btn-hover-white" href="https://www.facebook.com/profile.php?id=100092707390538">Read More</a>
                                </div>
                            </div>
                            <!-- Blog Item End -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!-- Blog Item Start -->
                            <div class="blog-item" data-aos="fade-up" data-aos-duration="1000">
                                <div class="blog-item__image">
                                    <a href="https://www.facebook.com/profile.php?id=100093048846506"><img src="assets/images/blog/Mock-UP-LdK.jpg" alt="Blog" width="330" height="179"></a>
                                </div>
                                <div class="blog-item__content">
                                    <div class="blog-item__meta">
                                        <span class="meta-action"><i class="far fa-calendar"></i> Septembre, 2022</span>
                                        <span class="meta-action"><i class="far fa-eye"></i> 287 views</span>
                                    </div>
                                    <h3 class="blog-item__title"><a href="https://www.facebook.com/profile.php?id=100093048846506">Success Publishing</a></h3>
                                    <p>Maison d'édition de livres best-sellers</p>
                                    <a class="blog-item__more btn btn-light btn-hover-white" href="www.success-publishing.ptr-niger.com">Read More</a>
                                </div>
                            </div>
                            <!-- Blog Item End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->

    <!-- Footer Start -->
    <div class="footer-section">

        <!-- Footer Copyright Area End -->
        <div class="footer-copyright footer-bg-2">
            <div class="container">
                <div class="copyright-wrapper-02 text-center">
                    <p class="footer-widget__copyright">&copy; 2023 <span> Plateform E-Learning </span> De <i class="fa fa-heart"></i> by <a href="https://facebook.com/PTRNiger">PTR-Niger</a></p>
                </div>
            </div>
        </div>
        <!-- Footer Copyright Area End -->

    </div>
    <!-- Footer End -->

    <!--Back To Start-->
    <button id="backBtn" class="back-to-top backBtn">
        <i class="arrow-top fal fa-long-arrow-up"></i>
        <i class="arrow-bottom fal fa-long-arrow-up"></i>
    </button>

{% endblock %}