<!-- Header start -->
<div class="header-section header-sticky">

    <!-- Header Top Start -->
    <div class="header-top-02 d-none d-sm-block">
        <div class="container">

            <!-- Header Top Bar Wrapper Start -->
            <div class="header-top-bar-wrap d-sm-flex justify-content-between">

                <div class="header-top-bar-wrap__info">
                    <ul class="header-top-bar-wrap__info-list header-top-bar-wrap__info-list-02">
                        <li><a href="tel:+22794203434"><i class="fas fa-phone"></i> <span class="info-text">(+227) 94203434</span></a></li>
                        <li><a href="contact@ptr-niger.com"><i class="far fa-envelope"></i> <span class="info-text">contact@ptr-niger.com</span></a></li>
                    </ul>
                </div>

                <div class="header-top-bar-wrap__info d-sm-flex">
                    {% if is_granted('ROLE_USER') %}
                        <a class="btn btn-primary" href="{{ path('app_logout') }}">Déconnexion</a>
                    {% else %}
                        <a class="btn btn-primary" style="" href="{{path('app_login') }}">Connexion</a>
                        <a class="btn btn-primary" style="" href="{{path('app_register_user') }}">Creer un compte</a>
                    {% endif %}
                    <ul class="header-top-bar-wrap__info-social header-top-bar-wrap__info-social-02">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="www.facebook.com/ptrniger" target ="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href ="https://instagram.com/ptr_niger" target="_blank" ><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/76802154" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>

            </div>
            <!-- Header Top Bar Wrapper End -->

        </div>
    </div>
    <!-- Header Top End -->

    <!-- Header Main Start -->
    <div class="header-main-06 header-transparent">
        <div class="container">
            <!-- Header Main Wrapper Start -->
            <div class="header-main-wrapper">

                <!-- Header Logo Start -->
                <div class="header-logo">
                    <a class="header-logo__logo" href="index-main.html"><img src="assets/images/LogoPTR-Niger-V2_Propos-Correction2.gif" width="296" height="64" alt="Logo"></a>
                </div>
                <!-- Header Logo End -->

                <!-- Header Inner Start -->
                <div class="header-inner">

                    <!-- Header Navigation Start -->
                    <div class="header-navigation d-none d-xl-block">
                        <nav class="menu-primary">
                            <ul class="menu-primary__container">
                                <li><a class="active" href="#"><span>Accueil</span></a>






                                </li>
                                <li>
                                    <a href="#"><span>Formations</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="course-grid-01.html"><span>InformaTIC bureauTIC</span></a></li>
                                        <li><a href="course-grid-02.html"><span>MasterClass PhotoShop</span></a></li>
                                        <li><a href="course-grid-left-sidebar.html"><span>MasterClass Illustrator</span></a></li>
                                        <li><a href="course-grid-right-sidebar.html"><span>WebCamp</span></a></li>
                                        <li><a href="course-list.html"><span>DataCamp (KoboToolBox)</span></a></li>
                                        <li><a href="course-list-left-sidebar.html"><span>Marketing Digutal</span></a></li>
                                        <li><a href="course-list-right-sidebar.html"><span>Design Graphic</span></a></li>
                                        <li><a href="course-category.html"><span>Montage Vidéo</span></a></li>
                                        <li>
                                            <a href="#"><span>Autres</span></a>
                                            <ul class="sub-menu">
                                                <li><a href="course-single-layout-01.html"><span>CCNA</span></a></li>
                                                <li><a href="course-single-layout-02.html"><span>CCNP</span></a></li>
                                                <li><a href="course-single-layout-03.html"><span>Windows Server 2019</span></a></li>
                                                <li><a href="course-single-layout-04.html"><span>CyberOps</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#"> <span>Nos Services</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-grid-01.html"><span>Impression tout support</span></a></li>
                                        <li><a href="blog-grid-02.html"><span>Site Web</span></a></li>
                                        <li><a href="blog-grid-left-sidebar.html"><span>Réseaux & Systèmes</span></a></li>
                                        <li><a href="blog-grid-right-sidebar.html"><span>Infographie</span></a></li>
                                        <li><a href="blog-list-style-01.html"><span>Maintenaces Informatiques</span></a></li>
                                        <li><a href="blog-list-style-02.html"><span>Installations</span></a></li>
                                        <li>
                                            <a href="#"><span>Logiciels</span></a>
                                            <ul class="sub-menu">
                                                <li><a href="blog-details-left-sidebar.html"><span>Vente de Licences</span></a></li>
                                                <li><a href="blog-details-right-sidebar.html"><span>Logiciels sur Mésures</span></a></li>
                                                <li><a href="blog-details.html"><span>Création</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#"><span>Blog</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-list-style-02.html"><span>Voir les articles</span></a></li>
                                        <li>
                                            <a href="#"><span>Partager votre avis</span></a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#"> <span>Contacts</span></a>
                                </li>


















                            </ul>
                        </nav>
                    </div>
                    <!-- Header Navigation End -->



                    <!-- Header Mobile Toggle Start -->
                    <div class="header-toggle">
                        <button class="header-toggle__btn d-xl-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMobileMenu">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </button>
                    </div>
                    <!-- Header Mobile Toggle End -->

                </div>
                <!-- Header Inner End -->

            </div>
            <!-- Header Main Wrapper End -->
        </div>
    </div>
    <!-- Header Main End -->

</div>
<!-- Header End -->
<!-- Slider Section Start -->
<div class="slider-section-03">
    <div class="container">

        <!-- Slider Widget Start -->
        <div class="slider-widget-02">

            <!-- Slider Caption Start -->
            <div class="slider-caption-03 text-center" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="slider-caption-03__main-title">Bienvenue Chez<mark>PTR-Niger !!!</mark></h2>
            </div>
            <!-- Slider Caption End -->

            <!-- Slider Search Start -->
            <div class="slider-search" data-aos="fade-up" data-aos-duration="1000">
                <form action="#">
                    <input class="slider-search__field" placeholder="Qu'es-ce que vous voulez apprendre ?">
                    <button type="submit" class="slider-search__submit">
                        <i class="search-btn-icon fas fa-search"></i>
                    </button>
                </form>
            </div>
            <!-- Slider Search End -->

        </div>
        <!-- Slider Widget End -->

        <!-- Slider Widget Box Start -->
        <div class="slider-widget-box">
            <div class="row gy-6 gx-md-7">
                <div class="col-sm-4">

                    <!-- Slider Widget Box Item Start -->
                    <div class="slider-widget-box-item" data-aos="fade-up" data-aos-duration="1000">
                        <div class="slider-widget-box-item__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" xml:space="preserve">
                                        <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="5,41 11,1 53,1 59,41 "></polyline>
                                <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M21,41c0,6.075,4.925,11,11,11s11-4.925,11-11h16v22  H5V41H21z"></path>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="12" y1="31" x2="52" y2="31"></line>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="14" y1="21" x2="50" y2="21"></line>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="16" y1="11" x2="48" y2="11"></line>
                                    </svg>
                        </div>
                        <div class="slider-widget-box-item__coption">
                            <h4 class="slider-widget-box-item__title">10,00 <br> Cours Onlines</h4>
                            <p>Profitez des meilleurs programmes de formations</p>
                        </div>
                    </div>
                    <!-- Slider Widget Box Item End -->

                </div>
                <div class="col-sm-4">

                    <!-- Slider Widget Box Item Start -->
                    <div class="slider-widget-box-item" data-aos="fade-up" data-aos-duration="1000">
                        <div class="slider-widget-box-item__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" xml:space="preserve">
                                        <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="32,47 12,62 20,38 2,24 24,24 32,1 40,24   62,24 44,38 52,62 "></polygon>
                                    </svg>
                        </div>
                        <div class="slider-widget-box-item__coption">
                            <h4 class="slider-widget-box-item__title">Excellents <br> Formateurs</h4>
                            <p>Apprendre des meilleurs, vous garantie de devenir un !</p>
                        </div>
                    </div>
                    <!-- Slider Widget Box Item End -->

                </div>
                <div class="col-sm-4">

                    <!-- Slider Widget Box Item Start -->
                    <div class="slider-widget-box-item" data-aos="fade-up" data-aos-duration="1000">
                        <div class="slider-widget-box-item__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" xml:space="preserve">
                                        <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="32,12 32,32 41,41 "></polyline>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="4" y1="32" x2="8" y2="32"></line>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="56" y1="32" x2="60" y2="32"></line>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="32" y1="60" x2="32" y2="56"></line>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="32" y1="8" x2="32" y2="4"></line>
                                <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M32,63c17.121,0,31-13.879,31-31S49.121,1,32,1"></path>
                                <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M32,63C14.879,63,1,49.121,1,32  c0-6.713,2.134-12.926,5.759-18l5.62-5.621"></path>
                                <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="13,19 13,8 2,8   "></polyline>
                                    </svg>
                        </div>
                        <div class="slider-widget-box-item__coption">
                            <h4 class="slider-widget-box-item__title">Programmes <br> Flexibles</h4>
                            <p>Quand vous voulez en fonctions de votre temps libre</p>
                        </div>
                    </div>
                    <!-- Slider Widget Box Item End -->

                </div>
            </div>
        </div>
        <!-- Slider Widget Box End -->

    </div>

    <img class="slider-section-03__image-01" src="assets/images/home-03-hero-image-03.jpg" alt="image" width="250" height="315">
    <img class="slider-section-03__image-02" src="assets/images/home-03-hero-image-02.jpg" alt="image" width="231" height="284">
    <img class="slider-section-03__image-03" src="assets/images/home-03-hero-image-01.jpg" alt="image" width="173" height="171">

    <!-- Slider Widget Box Start -->

    <!-- Slider Widget Box End -->

    <div class="slider-section-03__shape-wrapper scene">
        <img class="slider-section-03__shape-01" data-depth="0.4" src="assets/images/shape/edumall-shape-01.png" alt="Shape" width="179" height="178">
        <img class="slider-section-03__shape-02" data-depth="-0.4" src="assets/images/shape/edumall-shape-grid-dots-02.png" alt="Shape" width="136" height="136">
        <div class="slider-section-03__shape-03" data-depth="0.4"></div>
        <div class="slider-section-03__shape-04" data-depth="-0.6"></div>
        <img class="slider-section-03__shape-05" data-depth="-0.6" src="assets/images/shape/edumall-shape-01.png" alt="Shape" width="179" height="178">
    </div>


</div>
<!-- Slider Section End -->
<!-- Offcanvas Start -->
<div class="offcanvas offcanvas-end offcanvas-mobile" id="offcanvasMobileMenu" style="background-image: url(assets/images/mobile-bg.jpg);">
    <div class="offcanvas-header bg-white">
        <div class="offcanvas-logo">
            <a class="offcanvas-logo__logo" href="#"><img src="assets/images/dark-logo.png" alt="Logo"></a>
        </div>
        <button type="button" class="offcanvas-close" data-bs-dismiss="offcanvas"><i class="fal fa-times"></i></button>
    </div>

    <div class="offcanvas-body">
        <nav class="canvas-menu">
            <ul class="offcanvas-menu">
                <li><a class="active" href="#"><span>Home</span></a>

                    <ul class="mega-menu">
                        <li>
                            <!-- Mega Menu Content Start -->
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <div class="menu-content-list">
                                            <a href="index-main.html" class="menu-content-list__link">Main Demo <span class="badge hot">Hot</span></a>
                                            <a href="index-course-hub.html" class="menu-content-list__link">Course Hub</a>
                                            <a href="index-online-academy.html" class="menu-content-list__link">Online Academy <span class="badge hot">Hot</span></a>
                                            <a href="index-university.html" class="menu-content-list__link">University</a>
                                            <a href="index-education-center.html" class="menu-content-list__link">Education Center <span class="badge hot">Hot</span></a>
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="menu-content-list">
                                            <a href="index-language-academic.html" class="menu-content-list__link">Language Academic</a>
                                            <a href="index-single-instructor.html" class="menu-content-list__link">Single Instructor</a>
                                            <a href="index-dev.html" class="menu-content-list__link">Dev <span class="badge new">New</span></a>
                                            <a href="index-online-art.html" class="menu-content-list__link">Online Art <span class="badge new">New</span></a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="menu-content-banner" style="background-image: url(assets/images/home-megamenu-bg.jpg);">
                                            <h4 class="menu-content-banner__title">Atteindre vos objectifs avec PTR-Niger</h4>
                                            <a href="#" class="menu-content-banner__btn btn btn-primary btn-hover-secondary">Purchase now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Mega Menu Content Start -->
                        </li>
                    </ul>




                </li>
                <li>
                    <a href="#"><span>Courses</span></a>
                    <ul class="sub-menu">
                        <li><a href="course-grid-01.html"><span>Grid Basic Layout</span></a></li>
                        <li><a href="course-grid-02.html"><span>Grid Modern Layout</span></a></li>
                        <li><a href="course-grid-left-sidebar.html"><span>Grid Left Sidebar</span></a></li>
                        <li><a href="course-grid-right-sidebar.html"><span>Grid Right Sidebar</span></a></li>
                        <li><a href="course-list.html"><span>List Basic Layout</span></a></li>
                        <li><a href="course-list-left-sidebar.html"><span>List Left Sidebar</span></a></li>
                        <li><a href="course-list-right-sidebar.html"><span>List Right Sidebar</span></a></li>
                        <li><a href="course-category.html"><span>Category Page</span></a></li>
                        <li>
                            <a href="#"><span>Single Layout</span></a>
                            <ul class="sub-menu">
                                <li><a href="course-single-layout-01.html"><span>Layout 01</span></a></li>
                                <li><a href="course-single-layout-02.html"><span>Layout 02</span></a></li>
                                <li><a href="course-single-layout-03.html"><span>Layout 03</span></a></li>
                                <li><a href="course-single-layout-04.html"><span>Layout 04</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span>Blog</span></a>
                    <ul class="sub-menu">
                        <li><a href="blog-grid-01.html"><span>Grid Basic Layout</span></a></li>
                        <li><a href="blog-grid-02.html"><span>Grid Wide</span></a></li>
                        <li><a href="blog-grid-left-sidebar.html"><span>Grid Left Sidebar</span></a></li>
                        <li><a href="blog-grid-right-sidebar.html"><span>Grid Right Sidebar</span></a></li>
                        <li><a href="blog-list-style-01.html"><span>List Layout 01</span></a></li>
                        <li><a href="blog-list-style-02.html"><span>List Layout 02</span></a></li>
                        <li>
                            <a href="#"><span>Single Layouts</span></a>
                            <ul class="sub-menu">
                                <li><a href="blog-details-left-sidebar.html"><span>Left Sidebar</span></a></li>
                                <li><a href="blog-details-right-sidebar.html"><span>Right Sidebar</span></a></li>
                                <li><a href="blog-details.html"><span>No Sidebar</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span>Pages</span></a>
                    <ul class="sub-menu">
                        <li><a href="become-an-instructor.html"><span>Become an Instructor</span></a></li>
                        <li>
                            <a href="instructors.html"><span>Instructor</span></a>
                            <ul class="sub-menu">
                                <li><a href="dashboard-my-courses.html"><span>My Courses</span></a></li>
                                <li><a href="dashboard-announcement.html"><span>Announcements</span></a></li>
                                <li><a href="dashboard-withdraw.html"><span>Withdrawals</span></a></li>
                                <li><a href="dashboard-quiz-attempts.html"><span>Quiz Attempts</span></a></li>
                                <li><a href="dashboard-question-answer.html"><span>Question & Answer</span></a></li>
                                <li><a href="dashboard-assignments.html"><span>Assignments</span></a></li>
                                <li><a href="dashboard-students.html"><span>My Students</span></a></li>
                            </ul>
                        </li>
                        <li><a href="about.html"><span>About us</span></a></li>
                        <li><a href="about-02.html"><span>About us 02</span></a></li>
                        <li><a href="contact-us.html"><span>Contact us</span></a></li>
                        <li><a href="contact-us-02.html"><span>Contact us 02</span></a></li>
                        <li><a href="membership-plans.html"><span>Membership plans</span></a></li>
                        <li><a href="faqs.html"><span>FAQs</span></a></li>
                        <li><a href="404-page.html"><span>404 Page</span></a></li>
                        <li>
                            <a href="#"><span>Dashboard</span></a>
                            <ul class="sub-menu">
                                <li><a href="dashboard-index.html"><span>Dashboard</span></a></li>
                                <li><a href="dashboard-student-index.html"><span>Dashboard Student</span></a></li>
                                <li><a href="dashboard-profile.html"><span>My Profile</span></a></li>
                                <li><a href="dashboard-all-course.html"><span>Enrolled Courses</span></a></li>
                                <li><a href="dashboard-wishlist.html"><span>Wishlist</span></a></li>
                                <li><a href="dashboard-reviews.html"><span>Reviews</span></a></li>
                                <li><a href="dashboard-my-quiz-attempts.html"><span>My Quiz Attempts</span></a></li>
                                <li><a href="dashboard-purchase-history.html"><span>Purchase History</span></a></li>
                                <li><a href="dashboard-settings.html"><span>Settings</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span>Features</span></a>
                    <ul class="sub-menu">
                        <li><a href="#"><span>Events</span></a>
                            <ul class="sub-menu">
                                <li><a href="event-grid-sidebar.html"><span>Event Listing 01</span></a></li>
                                <li><a href="event-grid.html"><span>Event Listing 02</span></a></li>
                                <li><a href="event-list.html"><span>Event Listing 03</span></a></li>
                                <li><a href="event-list-sidebar.html"><span>Event Listing 04</span></a></li>
                                <li>
                                    <a href="#"><span>Single Layouts</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="event-details-layout-01.html"><span>Layout 01</span></a></li>
                                        <li><a href="event-details-layout-02.html"><span>Layout 02</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><span>Shop</span></a>
                            <ul class="sub-menu">
                                <li><a href="shop-default.html"><span>Shop – Default</span></a></li>
                                <li><a href="shop-left-sidebar.html"><span>Shop – Left Sidebar</span></a></li>
                                <li><a href="shop-right-sidebar.html"><span>Shop – Right Sidebar</span></a></li>
                                <li><a href="my-account.html"><span>My account</span></a></li>
                                <li><a href="wishlist.html"><span>Wishlist</span></a></li>
                                <li><a href="cart.html"><span>Cart</span></a></li>
                                <li><a href="cart-empty.html"><span>Cart Empty</span></a></li>
                                <li><a href="checkout.html"><span>Checkout</span></a></li>
                                <li>
                                    <a href="#"><span>Single Layouts</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="shop-single-list-left-sidebar.html"><span>List – Left Sidebar</span></a></li>
                                        <li><a href="shop-single-list-right-sidebar.html"><span>List – Right Sidebar</span></a></li>
                                        <li><a href="shop-single-list-no-sidebar.html"><span>List – No Sidebar</span></a></li>
                                        <li><a href="shop-single-tab-left-sidebar.html"><span>Tabs – Left Sidebar</span></a></li>
                                        <li><a href="shop-single-tab-right-sidebar.html"><span>Tabs – Right Sidebar</span></a></li>
                                        <li><a href="shop-single-tab-no-sidebar.html"><span>Tabs – No Sidebar</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="zoom-meetings.html"><span>Zoom Meetings</span></a></li>
                        <li><a href="zoom-meetings-single.html"><span>Zoom Meeting Single</span></a></li>
                    </ul>
                </li>

















            </ul>
        </nav>
    </div>

    <!-- Header User Button Start -->
    <div class="offcanvas-user d-lg-none">
        <div class="offcanvas-user__button">
            <button class="offcanvas-user__login btn btn-secondary btn-hover-secondarys" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</button>
        </div>
        <div class="offcanvas-user__button">
            <button class="offcanvas-user__signup btn btn-primary btn-hover-primary" data-bs-toggle="modal" data-bs-target="#registerModal">Sign Up</button>
        </div>
    </div>
    <!-- Header User Button End -->

</div>
<!-- Offcanvas End -->